name: Atualizar Ações Diariamente

on:
  schedule:
    - cron: '0 23 * * *'  # 20h no horário de Brasília (UTC-3)
  workflow_dispatch:      # Permite acionar manualmente

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 10 # Pode ser menor agora que não usamos navegador
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Instala as dependências do Python
      - name: Install dependencies
        run: pip install -r requirements.txt

      # Executa o script de atualização, passando o segredo como variável de ambiente
      - name: Run Scraper
        env:
          RAPIDAPI_KEY: ${{ secrets.RAPIDAPI_KEY }}
        run: python main.py
      
      # Faz o commit e push do arquivo de dados atualizado
      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add dados_acoes.json
          git diff-index --quiet HEAD || git commit -m "Atualização automática $(date "+%d/%m/%Y %H:%M")"
          git push